.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* from react-sortablejs */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.block-list {
  padding: 20px 0;
  max-width: 360px;
  background-color: #eee;
  border: 1px solid #ddd;
  /* height: calc(100vh - 510); */
  height: auto;
  overflow-y: auto;
}

.block-list > * {
  padding: 10px 10px;
}

.block-list > *:first-child {
  border-top: 1px solid #ddd;
}

.block-list > * {
  border-bottom: 1px solid #ddd;
}

.block-list > *:hover {
  cursor: move;
}

/* from bootstrap */
.col-sm-6 {
  position: relative;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  flex: 0 0 50%;
  max-width: 50%;
}

.deletecursor:hover {
  cursor: default;
}

/* .container {
  flex-wrap: wrap;
}

.container > div {
  border: 1px solid #ddd;
  padding: 1em 1em;
}

@media screen and (min-width: 320px) {
  .container {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
  }
} */

/* @media screen and (min-width: 1150px) {
  .block-list {
    min-width: 105px;
    min-width: max-content;
  }
} */

.unfixed {
  background-color: #d3e0f0;
}

.unfixed > *:first-child {
  border-top: 1px solid #acc4e0;
}

.unfixed > * {
  border-bottom: 1px solid #acc4e0;
}
